
<h1>Level <%= @level.gym_level %> Skills for <%= @gymnast.name %></h1>
  <br>
  <form method="post" action="/gymnasts/<%= @gymnast.id %>/levels/<%= @level.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <div class="checklist">
    <% @skills.each do |skill| %>
     <div class="check"> <input type="checkbox" name="gymnast[skills][]" value="<%= skill.id %>" <%= 'checked' if @gymnast.skills.include?(skill) %>><label> <%= skill.category %> - <%= skill.name %></label></div>
      <br>
  <% end %>
    </div>
  <br>
  <input type="submit" value="Submit">
  </form>
  