<center>
<h1><%= @gymnast.name %></h1>
<br>
<h2>Skills Mastered:</h2>
<br>
<div class="container">
<% Level.all.each do |level| %>
<div class="item-1"><h2>Level <%= level.gym_level %> Skills </h2></div>
  
  <% if @gymnast.skills.where("level_id = ?", level.gym_level).empty? %>
    
    <p> No skills yet mastered for Level <%= level.gym_level %> </p>
    
  <% else %>  
  <div class="item-2">
    <% @gymnast.skills.where("level_id = ?", level.gym_level).each do |skill| %>
      <% if skill %>
        <h4><%= skill.category %>: <%= skill.name %></h4>
        <br>
      <% end %> 
    <% end %>  
    </div>
  <% end %>  
<% end %>  
</div>
<br>
<br>
<div class="nav-links">
<div class="item-3"><h4><a href="/gymnasts/<%= @gymnast.id %>/levels">Add skills mastered</a></h4></div>
<div class="item-4"><h4><a href="/gymnasts">Go back to all Gymnasts</a></h4></div>
</div>
<br>
<br>
<form method="post" action="/gymnasts/<%= @gymnast.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="DELETE GYMNAST">
</form>
</center>
